@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to right, #000000, #9aa5b1);
}

.navbar-image {
    height: 20px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    /* margin: 3px; */
    font-size: 15px;
}

.home-page {
    display: flex;
    background-color: #000000;
    height: 100vh;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.heading,
.caption {
    color: #ffffff;
    font-family: Roboto;
}

.image {
    width: 250px;
    align-self: center;
}

.footer {
    color: #9aa5b1;
    font-family: Roboto;
    align-self: flex-end;
}