@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@media screen and (max-width: 899px) {
    .page-bg-container {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/fairpods-darkpink-bg.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 180px;
        align-self: center;
        margin: 20px;
    }

    .content-container {
        padding: 20px;
    }

    .product-name {
        color: #8e62d9;
        font-family: Roboto;
        font-size: 25px;
    }

    .heading {
        color: #ffffff;
        font-family: Roboto;
        font-size: 35px;
    }

    .paragraph {
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
    }

    .btn {
        color: #334155;
        background-color: #ffdda9;
        font-size: 25px;
        padding: 10px 40px;
        border-width: 0;
        border-radius: 25px;
    }
}

@media screen and (min-width: 900px) {
    .page-bg-container {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/fairpods-blue-bg.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .image-container {
        order: 1;
    }

    .image {
        width: 300px;
        align-self: center;
        margin: 20px;
    }

    .content-container {
        padding: 20px;
        margin: 10px;
    }

    .product-name {
        color: #8e62d9;
        font-family: Roboto;
        font-size: 25px;
    }

    .heading {
        color: #ffffff;
        font-family: Roboto;
        font-size: 45px;
    }

    .paragraph {
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
    }

    .btn {
        color: #334155;
        background-color: #ffdda9;
        font-size: 25px;
        padding: 10px 40px;
        border-width: 0;
        border-radius: 25px;
    }
}