@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #21396c;
    background-size: cover;
}

.heading {
    color: #ffffff;
    font-size: 15px;
    font-family: Roboto;
}

.name {
    color: #ffffff;
    font-size: 30px;
    font-family: Roboto;
}

.bookmark-section {
    background-color: #ffffff;
    height: 90vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.bookmark-heading {
    font-family: Roboto;
    font-size: 20px;
}

.form-container {
    background-color: #f5f7fa;
    border-style: solid;
    border-color: #e4e7eb;
    border-radius: 20px;
    font-family: Roboto;
}

.label-name {
    font-size: 15px;
    font-weight: bold;
    color: #7b8794;
}

.button {
    color: #ffffff;
    background-color: #21396c;
}

.err-msg {
    color: red;
}

.li-item {
    list-style: none;
}

.bookmark-title {
    font-family: Roboto;
    font-size: 20px;
}

.bookmark-container {
    background-color: #f5f7fa;
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e4e7eb;
}