@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

.bg-container {
    background-color: #fc7703;
    height: 100vh;
    background-size: cover;
}

.heading {
    font-family: Roboto;
    font-weight: 600;
}

.question-container {
    border-radius: 10px;
    background-color: #ffffff;
}

.question-heading {
    font-family: Bree Serif;
    font-size: 30px;
}

.result-msg {
    color: red;
    font-family: Bree Serif;
}