@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.page-bg-container {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.image-container {
    background-color: black;
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/design-section-sm-bg.png");
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    height: 100px;
}

.content-container {
    background-color: #12022f;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 25px;
}

.features-container {
    flex: column;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
}

.details-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    height: 50px;
    width: 50px;
    margin: 20px;
    margin-top: 0px;
}

.feature-heading {
    font-family: Roboto;
    font-size: 20px;
    margin: 0px;
    color: #12022f;
}

.feature-description {
    font-family: Roboto;
    font-size: 16px;
    margin-top: 5px;
    color: #7b8794;
}

@media screen and (min-width: 768px) {
    .page-bg-container {
        height: 100%;
        flex-direction: row;
    }

    .image-container {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/design-section-lg-bg.png");
        height: 100vh;
        width: 40%;
    }

    .content-container {
        height: 100vh;
        width: 60%;
    }

    .heading {
        font-size: 30px;
        font-family: Roboto;
        font-weight: 700;
        text-align: left;
    }
}