@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}


@media screen and (max-width: 767px) {
    .insta-stroy-bg-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
        background-size: cover;
        flex-grow: 1;
        padding: 40px;
    }

    .nav-container {
        overflow: hidden;
        margin: 0 10px;
        padding: 0 10px;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .logo {
        float: left;
        font-size: 30px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: Roboto;
        color: #ffffff;
    }

    nav {
        float: right;
    }

    .nav-logo {
        height: 50px;
        margin-right: 10px;
    }

    .nav-links {
        display: none;
    }

    .page-heading {
        color: #ffffff;
        font-family: Lobster;
        font-size: 30px;
        text-align: center;
    }

    .content-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .search-icon {
        height: 40px;
    }

    .page-description {
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        text-align: center;
    }

    .searchBox-container {
        display: none;
    }

    .footer-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px;
    }

    .footer-image {
        height: 80px;
    }

    .footer-image-name {
        color: #0f172a;
        font-size: 20px;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .search-icon-sm {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .insta-stroy-bg-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
        background-size: cover;
        flex-grow: 1;
        padding: 40px;
    }

    .nav-container {
        overflow: hidden;
        margin: 0;
        padding: 0;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        float: left;
        font-size: 30px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: Roboto;
        color: #ffffff;
    }

    nav {
        float: right;
        justify-content: space-between;
    }

    .nav-logo {
        height: 60px;
        margin-right: 10px;
    }

    .nav-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: Roboto;
        font-size: 25px;
        justify-content: space-between;
    }

    .nav-links li {
        display: inline-block;
        margin-left: 0px;
    }

    .nav-links li a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
    }

    .page-heading {
        color: #ffffff;
        font-family: Lobster;
        font-size: 40px;
        text-align: center;
    }

    .search-icon {
        height: 30px;
    }

    .page-description {
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        text-align: center;
    }

    .searchBox-container {
        text-align: center;
        padding: 20px;
    }

    .storyinput-link {
        border-width: 0px;
        border-radius: 10px;
        font-size: 35px;
        border-style: none;
    }

    .button {
        border-radius: 5px;
        border-width: 0px;
        background-color: #3b82f6;
        padding: 10px;
        color: #ffffff;
        font-size: 24px;
        margin-left: 10px;
    }

    .footer-container {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
    }

    .footer-image {
        height: 100px;
    }

    .footer-image-name {
        color: #0f172a;
        font-size: 30px;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .search-icon-sm {
        display: none;
    }
}