@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    height: 100vh;
}

.button {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    font-family: Open sans;
    font-size: 12px;
}

.color-details {
    font-family: Open sans;
    background-color: #222222;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.hexcode {
    color: #49a6e9;
}

.heading {
    font-weight: bold;
}

.caption {
    font-family: Open Sans;
}

.button-1 {
    background-color: #e0e0e0;
}

.button-2 {
    background-color: #6fcf97;
}

.button-3 {
    background-color: #56ccf2;
}

.button-4 {
    background-color: #bb6bd9;
}