@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.heading {
    font-family: Roboto;
    text-align: center;
}

.mycart-heading {
    font-family: Roboto;
    font-size: 20px;
    margin: 15px;
    font-weight: 500;
}

.cart-item-container {
    margin-top: 5px;
    text-align: center;
}

.cartItem-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.cart-items-container {
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
    width: 100%;
}