@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.travel-page-bg {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/travel-sm-bg.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sm-page-heading {
    font-family: Roboto;
    color: #ffffff;
    font-size: 50px;
}

.page-description {
    font-family: Roboto;
    color: #ffffff;
    font-size: 30px;
}

.btn1 {
    color: #183b56;
    font-family: Open Sans;
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.btn2 {
    color: #ffffff;
    font-family: Open Sans;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content {
    text-align: center;
}

@media screen and (min-width : 768px) {
    .travel-page-bg {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/travel-md-bg.png');
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .page-description {
        font-family: Roboto;
        color: #ffffff;
        font-size: 20px;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn1 {
        color: #183b56;
        font-family: Open Sans;
        background-color: #ffffff;
        border-width: 0px;
        border-radius: 25px;
        padding: 15px;
        margin: 10px;
        height: 50px;
        width: 150px;
    }

    .btn2 {
        color: #ffffff;
        font-family: Open Sans;
        background-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: #ffffff;
        border-radius: 25px;
        padding: 15px;
        margin: 10px;
        height: 52px;
        width: 150px;
    }


}