@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.page-container {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/dream-car-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    padding-right: 30px;
}

.content {
    max-width: 60%;
}

.heading {
    color: #ffffff;
    font-family: Roboto;
    text-align: right;
}

.paragraph {
    color: #ffffff;
    font-family: Roboto;
    text-align: right;
}

.image {
    height: 50px;
}